body {
  font-family: Raleway;
  font-weight: 300;
  margin: 0px;
  margin-top: 20px;
}

main {
  padding: 30px;
}

@font-face {
  font-family: Raleway;
  src: url(font/static/Raleway-Regular.ttf);
}
@font-face {
  font-family: Raleway-Black;
  src: url(font/static/Raleway-Black.ttf);
}
@font-face {
  font-family: Raleway-SemiBold;
  src: url(font/static/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: Raleway-medium;
  src: url(font/static/Raleway-Medium.ttf);
}
@font-face {
  font-family: Raleway-bold;
  src: url(font/static/Raleway-Bold.ttf);
}
a {
  text-decoration: none;
  color: grey;
  font-size: 1.3em;
}
a:hover {
  color: #0065fc;
}
body {
  font-size: 12px;
}
h1 {
  font-family: Raleway-bold;
  font-size: 1.5em;
}
h2,
h3 {
  font-family: Raleway-bold;
}

p {
  font-size: 1em;
}
.cardHover:hover {
  cursor: pointer;
  color: #0065fc;
  box-shadow: 0px 0px 20px 0px #0065fc27;
}

/* header */
header {
  margin-left: 40px;
  margin-right: 40px;
}
.logoContainer {
  width: 70%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav a {
  color: #0065fc;
}
nav a:hover {
  color: rgba(117, 117, 117, 0.5);
}
.register {
  order: 1;
  padding-top: 30px;
}
.underHeader {
  display: flex;
  justify-content: space-between;
  width: 15%;
}
.linkHeader {
  padding-top: 30px;
  margin-left: 40px;
}
.register:hover,
.linkHeader:hover {
  padding-top: 28px;
  border-top: 2px solid #0065fc;
}

/* container form */
.containerForm {
  display: flex;
  margin-top: 40px;
}

#containtForm {
  display: flex;
  align-content: center;
  height: 7%;
}
.iconLocalisation {
  background-image: url(img/icone/map-marker-alt-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  min-width: 20px;
  border-radius: 15px 0px 0px 15px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  padding: 15px;
}

.cityCherche {
  border: 1px solid rgb(226, 226, 226);
  border-color: #dadada;
  font-weight: bold;
  font-size: 16px;
  padding: 15px;
  height: 100%;
  width: 55%;
}

.submitRecherche {
  background: #0065fc;
  color: #fff;
  font-size: 12px;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid #0065fc;
  height: 100%;
}

/* filter container */
.containerFilter {
  display: flex;
  flex-wrap: wrap;
}

.toggleContaint {
  border: 2px solid #f2f2f2;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding-right: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.toggleContaint p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1em;
  font-family: Raleway-bold;
}
.toggleBtn {
  background-color: #deebff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.toggleBtn img {
  width: 15px;
}

.infoDispo {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.infoDispo img {
  width: 30px;
  margin-right: 20px;
}
/* first container */
.firstContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
/* popular section */
.popularSection {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 15px;
  width: 25%;
}

.titlePopularContainer {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
}
.share {
  width: 20px;
}

.popularCard {
  display: flex;
  background-color: #fff;
  padding: 5px;
  border-radius: 15px;
  margin-top: 40px;
}

.imgCard {
  max-width: 35%;
  min-width: 35%;
  height: 110px;
  max-height: 250px;
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 15px 0px 0px 15px;
}
.containtPopularCard {
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.containtPopularCard section {
  width: 100%;
}
.containtPopularCard section p {
  font-size: 12px;
  margin-top: -10px;
}
/* houssing Marseille */
.titlePopularCard {
  font-family: Raleway-bold;
  font-size: 1.4em;
  margin-top: 5px;
}
.star {
  display: flex;
  margin-top: -10px;
}
.starCard {
  width: 12px;
}
/* houssing Marseille */
.houssingContainer {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  border-radius: 15px;
  background-color: #f2f2f2;
  width: 70%;
}
.houssingContainer h2 {
  font-size: 2em;
  margin-top: 40px;
  margin-left: 40px;
  display: inline-flex;
}
.groupOfCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 100%;
}

.houssingCard {
  padding: 5px 5px 10px 5px;
  border-radius: 15px;
  margin-top: 30px;
  box-shadow: 0px 0px 10px 0px rgba(117, 117, 117, 0.5);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 18vw;
}
.imgHoussingCard {
  max-width: 100%;
  height: 110px;
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 15px 15px 0px 0px;
}
.containtHoussingCard {
  font-size: 12px;
  padding-left: 15px;
}
.containtHoussingCard p {
  margin-top: -10px;
}
.seeMore {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 1.5em;
  font-family: Raleway-bold;
}

/* Activity in Marseille */
.activitySection {
}
.cardContainer {
  display: flex;
}
.cardGroupOne {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 25px;
}
.cardGroupTwo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 25px;
}
.activityCardLong {
  width: 42%;
  height: 400px;
  padding: 0px 0px 1px 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(117, 117, 117, 0.5);
}
.imgActivityCardLong {
  height: 85%;
  background-position: center;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.activityCardUper {
  width: 100%;
  height: 220px;
  padding: 0px 0px 1px 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(117, 117, 117, 0.5);
}
.activityCardDown {
  min-width: 100%;
  height: 140px;
  padding: 0px 0px 1px 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(117, 117, 117, 0.5);
}

.imgActivityCard {
  height: 70%;
  background-position: center;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
}

.titleActivityCard {
  font-family: Raleway-bold;
  font-size: 1.4em;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 200px 20px 30px;
  background-color: #f2f2f2;
  padding-right: 30%;
}
footer section {
  margin-top: 50px;
}
footer section h3 {
  font-family: Raleway-bold;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  h1 {
    font-family: Raleway-bold;
    font-size: 1.5em;
  }
  h2,
  h3 {
    font-family: Raleway-bold;
  }

  p {
    font-size: 1em;
  }

  header {
    /* display: flex; */
    margin-left: 0px;
    margin-right: 0px;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  nav a {
    color: #0065fc;
  }
  nav a:hover {
    color: #0065fc;
  }
  .logoContainer {
    width: 40%;
    padding-left: 20px;
  }
  .register {
    order: 0;
    padding-top: 0px;
    margin-left: -20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }

  .register a {
    font-family: Raleway-bold;
    font-size: 15px;
  }
  .register:hover {
    padding-top: 0px;
    border-top: none;
    border-bottom: none;
    color: rgba(117, 117, 117, 0.5);
  }
  .register a:hover {
    padding: 0px;
    margin: 0px;
    color: rgba(117, 117, 117, 0.5);
  }
  .underHeader {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
    margin: 0px;
    min-width: 100%;
    width: 100%;
  }
  .linkHeader {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-left: 0px;
    border-bottom: 2px solid rgba(117, 117, 117, 0.5);
    text-align: center;
    width: 100%;
  }
  .linkHeader a {
    font-size: 15px;
    color: rgba(117, 117, 117, 0.5);
  }

  .linkHeader:hover {
    padding-top: 30px;
    padding-bottom: 0px;
    border-top: none;
    border-bottom: 2px solid #0065fc;
  }
  .linkHeader a:hover {
    padding-top: 30px;
    padding-bottom: 0px;
    border-top: none;
  }

  /* container form */
  .containerForm {
    justify-content: center;
  }

  #containtForm {
    width: 100%;
  }

  .cityCherche {
    font-size: 12px;
  }

  .submitRecherche {
    font-size: 0px;
    border-radius: 15px 15px 15px 15px;
    background-image: url(img/icone/search-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5vw;
    width: 60px;
    margin-left: -15px;
  }
  .firstContainer {
    flex-direction: column;
    justify-content: center;
  }
  /* filter container */
  .containerFilter {
    justify-content: space-between;
  }

  .toggleContaint {
    padding-right: 0px;
    margin-right: 0px;
  }

  .toggleContaint p {
    font-size: 10px;
  }

  .infoDispo {
    /* display: flex;
    align-items: center; */
  }

  /* popular section */
  .popularSection {
    padding-right: 30px;
    padding-left: 30px;
    margin-left: -30px;
    border-radius: 0px;
    width: 100%;
  }

  .titlePopularContainer {
    font-size: 1em;
  }

  .popularCard {
    margin-top: 20px;
  }

  .imgCard {
    max-width: 30%;
    height: 110px;
    max-height: 250px;
  }
  .containtPopularCard {
    /* padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around; */
    /* background-color: red; */
  }
  /* houssing Marseille */
  .titlePopularCard {
    font-size: 1em;
  }

  /* houssing Marseille */
  .houssingContainer {
    justify-content: center;
    border-radius: 0px;
    background-color: #fff;
    width: 100%;
  }
  .groupOfCard {
    flex-direction: column;
    justify-content: center;
  }
  .houssingCard {
    margin-top: 20px;
    width: 100%;
  }
  .imgHoussingCard {
    min-width: 10px;
    height: 110px;
  }
  .containtHoussingCard {
    padding-left: 15px;
  }
  .seeMore {
    margin-left: 0px;
  }
  /* Activity in Marseille */
  .activitySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cardContainer {
    flex-direction: column;
    justify-content: center;
  }
  .cardGroupOne {
    flex-direction: column;
    justify-content: center;
    margin-right: 0px;
  }
  .cardGroupTwo {
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
  }
  .activityCardLong {
    width: 100%;
    height: 200px;
    margin-top: 20px;
  }
  .imgActivityCardLong {
    height: 150px;
  }
  aside {
    width: 100%;
  }
  .activityCardUper {
    height: 200px;
    margin-top: 20px;
  }
  .activityCardDown {
    height: 200px;
    margin-top: 20px;
  }

  .imgActivityCard {
    /* height: 70%; */
  }
  footer {
    flex-direction: column;
  }
}
.soleilDuMatin {
  background-image: url(img/hebergements/4_small/hotel-le-soleil-du-matin.jpg);
}
.auCoeurDeLeau {
  background-image: url(img/hebergements/4_small/au-coeur-de-l-eau.jpg);
}
.hotelBandB {
  background-image: url(img/hebergements/4_small/hotel-tout-bleu-et-blanc.jpg);
}
.aubergeCannebiere {
  background-image: url(img/hebergements/4_small/auberge-de-la-cannebiere.jpg);
}
.hotelDuPort {
  background-image: url(img/hebergements/4_small/hotel-du-port.jpg);
}
.hotelMouettes {
  background-image: url(img/hebergements/4_small/hotel-les-mouettes.jpg);
}
.hotelMer {
  background-image: url(img/hebergements/4_small/hotel-de-la-mer.jpg);
}
.aubergePanier {
  background-image: url(img/hebergements/4_small/auberge-le-panier.jpg);
}
.chezAmina {
  background-image: url(img/hebergements/4_small/hotel-chez-amina.jpg);
}
.vieuxPort {
  background-image: url(img/activites/4_small/vieux-port.jpg);
}
.pomegues {
  background-image: url(img/activites/4_small/fort-de-Pomegues.jpg);
}
.frioul {
  background-image: url(img/activites/4_small/iles-du-frioul.jpg);
}
.calanques {
  background-image: url(img/activites/4_small/parc-national-des-calanques.jpg);
}
.notreDame {
  background-image: url(img/activites/4_small/notre-dame-de-la-garde.jpg);
}
.longchamp {
  background-image: url(img/activites/4_small/parc-longchamp.jpg);
}
